<% provide(:title, 'All users') %>
<h1>All users</h1>

<%= will_paginate %>

<ul class="users">
  <%= render @users %>  
  <!-- 
  uiで囲まれてるので？もしくは@userがpaginateされたやつだからかな？自動でリストだと判断するらしい。_user.html.erbを自動で探す。。
  　-->
</ul>

<%= will_paginate %>
